html, body{
  height:100vh;
  margin: 0px;
  padding: 0px;
}

main{
    display: flex;
    height: 100%;
    flex-direction: column;    
}

main .content{
    flex: 1;
    padding: 20px;        
}

.clickeable{
    cursor: pointer;
}

.breadcrumb.dark {
  color: #777;
  cursor: pointer;
}

.breadcrumb.dark:before  {
  color: #222;
}

.breadcrumb.dark:last-child{
  color: #111;
  cursor: default;
}